/* general styling */

/*#overview {
    display: none;
}*/

body {
    margin: 0px;
    padding: 0px;
}

h3 {
    font-family: 'Lato', sans-serif;
}

select {
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Lato', sans-serif;
    color: #1D8DB0;
    font-size: 20px;
}

h2{
    font-family: 'Lato', sans-serif;
    color: #00407A;
    font-size: 15px;
    float: center;
}

a:hover{
    text-decoration: underline;
}

a:active{
    text-decoration: underline;
}

p a{
    color: #1D8DB0;
    text-decoration: none;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

ol {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

ul {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}



/* dimensions of map */

#map {
    width: 100%;
    height: 370px;
    background-color: lightgrey;
    margin-bottom: 10px;
}



/* nav bar */

#nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #1D8DB0;
    top:0;
    position: fixed;
    height: 83px;
    width:100%;
    z-index: 999;
}

#nav li {
    float: left;
    display: inline-block;
    font-style: normal;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 0px 1%;
    margin: 20px 0 0;
    overflow: visible;
}

#nav li:first-of-type {
    margin: 4px 0 0;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: right;
    margin: 10px auto;
    position: relative;
}

#nav img {
    width: 150px;
    height: auto;
    padding: 1;
    border: 1;
    margin: 1;
    float: left;
    vertical-align: middle;
    overflow: visible;
}

#nav a {
    color: white;
    text-decoration: none;
}

/* home page */

.box {
    margin-top: 120px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

#selectmenu {
    width: 40%;
    background: #f2f2f2;
    padding: 0.75em;
}

#overview {
    width: 40%;
    background: #f2f2f2;
    padding: 0.75em;
}

/*

#selectmenu {
    width: 30%;
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #f2f2f2;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
}


#overview {
    width: 30%;
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #f2f2f2;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
}
*/

#faculties_humanities{
    display:none;
}

#faculties_science {
    display:none;
}

#faculty_biomedical {
    display:none;
}

#degrees_arts {
    display:none;
}

/* about page */

#info {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

#us {
    position: absolute;
}

#students {
    width: 60%;
    background: #f2f2f2;
    padding: 10px;
}

#students img {
    border-radius: 50%;
    border-color: black;
    width: 20%;
    height: auto;
    overflow: hidden;
    border-style: solid;
    float: left top;
    position: relative;
}

#students p {
    float: right;
    width: 75%;
    padding-right: 10px;
    font-size: 14px;
}

#DH {
    width: 27%;
    background: #f2f2f2;
    padding: 0.75em;
}

#DH p {
    font-size: 16px;
    padding: 5px;
}

#DH h1 {
    padding: 5px;
}

#why {
    width: 95,5%;
    background: #f2f2f2;
    margin: 30px;
    padding: 10px;
}

#why p {
    font-size: 14px;
}



/* pictures */

.fakbarpics, .cudipics {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.fakbarpics img, .cudipics img {
    width: 100%;
    top: 0;
    left: 0
}

div.fakbarpics, div.cudipics {
    display: block;
    margin-left: auto;
    margin-right: auto
}

div.fakbarpics {
    margin-top: 83px;
}

div.cudipics {
    margin-top: 30px;
}

/* footer */

footer {
    padding: 0.75em;
    color: grey;
    background-color: white;
    clear: left;
    text-align: center;
}

.copyright {
    float: left;
}

.github {
    float: right;
}

/* cudi page styling */

#narrow {
  width: 40%;
  background: #f2f2f2;
  padding: 0.75em;
}

.mid {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

#wide p, #narrow p{
    font-size: 15px;
}

#narrow ul{
    font-size: 15px;
}

#wide {
  width: 40%;
  background: #f2f2f2;
  padding: 0.75em;
}

/* fak page styling */

#narrowfak {
  width: 40%;
  background: #f2f2f2;
  padding: 0.75em;
}

.midfak {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

#widefak p, #narrowfak p{
    font-size: 15px;
}

#narrowfak ul{
    font-size: 15px;
}

#widefak {
  width: 40%;
  background: #f2f2f2;
  padding: 0.75em;
}




/* button */

#button_fakbar {
    border-radius: 10px;
    width: 50%;
    background-color: #52BDEC;
    box-shadow: 5px 5px #1D8DB0;
    padding: 1.5em;
    margin: 45px;
    margin-left: 18%;
    font-style: normal;
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

#button_cudi {
    border-radius: 10px;
    width: 50%;
    background-color: #52BDEC;
    box-shadow: 5px 5px #1D8DB0;
    padding: 1.5em;
    margin: 30px;
    margin-left: 18%;
    font-style: normal;
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

#button_dh {
    border-radius: 10px;
    width: 60%;
    background-color: #52BDEC;
    box-shadow: 5px 5px #1D8DB0;
    padding: 1.5em;
    margin: 50px;
    margin-left: 14%;
    font-style: normal;
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

#button_cudi:hover, #button_fakbar:hover, #button_dh:hover {
    background-color: #1D8DB0;
    box-shadow: 5px 5px #52BDEC;
}
